/* 24:10 */

* {
  /* border: 1px solid plum; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(to right, #18a0be, #622db9);
  display: flex;
  align-items: center;
  height: 55px;
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
}

.app {
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.dd-toggle > img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.dd-toggle:nth-of-type(4) {
  margin-left: auto;
}

header {
  padding: 0 20px;
  height: 57px;
}

.dd-toggle:last-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dd-toggle:last-child > img {
  margin-right: 10px;
}

.dd-toggle {
  margin-right: 10px;
  height: 100%;
  padding: 10px;
  outline: none;
  transition: all 0.4s;
  color: #eaeaea;
  animation: fade-in-from-top 0.5s;
  cursor: pointer;
}

header > img {
  margin-right: 10px;
  animation: fade-in-from-top 0.5s;
}

.dd-toggle:hover {
  background-color: rgb(255, 255, 255, 0.07);
}

.dd-toggle:focus {
  background-color: rgb(255, 255, 255, 0.07);
}

/* KEYFRAMES */
@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ---------------- */

.sidebar {
  background-color: #10171a;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---------------- */

.first-heading {
  border-bottom: 1px solid #4c5960;
  width: 100%;
  padding-bottom: 20px;
}

.panel {
  background-color: #2b363c;
  width: 350px;
  padding: 20px;
}

.panel__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.panel__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: all 0.2s;
}

.panel__img:hover,
.panel__btn:hover,
.panel__btn:focus {
  transform: scale(1.05);
}

.panel__btn {
  height: 140px;
  width: 140px;
  background-color: #4c5960;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s;
  animation: fade-in 1s 0.5s backwards;
}

.panel__img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 7px;
  cursor: pointer;
}

.panel__img:nth-child(1) {
  animation: fade-in 1s;
}

.panel__img:nth-child(2) {
  animation: fade-in 1s 0.1s backwards;
}

.panel__img:nth-child(3) {
  animation: fade-in 1s 0.2s backwards;
}

.panel__img:nth-child(4) {
  animation: fade-in 1s 0.3s backwards;
}

.panel__img:nth-child(5) {
  animation: fade-in 1s 0.4s backwards;
}
/* ---------------- */

.main {
  background-color: #edf1f3;
  flex: 1;
}

.app__container {
  height: calc(100vh - 55px);
  display: flex;
}

.menu__button {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(140, 148, 150);
  cursor: pointer;
  outline: none;
  position: relative;
  animation: fade-in-from-left 0.5s;
  transition: 0.5s;
}

.menu__button:hover {
  background-color: #2b363c;
  color: white;
}

.menu__button:focus {
  color: white;
  background-color: #2b363c;
}

.menu__icon {
  margin-bottom: 10px;
}

.menu__button--active::before {
  content: "";
  background-color: steelblue;
  height: 100%;
  width: 3px;
  top: 0;
  position: absolute;
  left: 0;
}

.footer {
  transform: rotate(-90deg);
  margin-bottom: 70px;
  font-weight: 500;
}

.copyright {
  color: #4c5960;
  white-space: nowrap;
}

.info-bar {
  background-color: #fff;
  height: 57px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.breadcrumbs {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 500;
}

.button {
  background-color: #375bb6;
  width: 100px;
  border-radius: 15px;
  color: white;
  height: 40px;
  transition: 0.5s;
}

.button:focus,
.button:hover {
  background-color: #294792;
}

/* canvas */

.canvas {
  height: 57vh;
  width: 48vw;
  position: relative;
}

.canvas__bg-img {
  /* display: none; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.15;
  border-radius: 10px;
}

.canvas__fg-img {
  height: 75%;
  width: 78%;
  left: 50%;
  top: 50%;
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

/* 9:18 */

/* artbox */
.artboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 55px - 57px);
  transform: translateY(-40px);
}

.tools {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}