/* 24:10 */

* {
  /* border: 1px solid plum; */
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(to right, #18a0be, #622db9);
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
}

.app {
  color: #fff;
  height: 100vh;
  width: 100vw;
}
