/* 24:10 */

* {
  /* border: 1px solid plum; */
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(to right, #18a0be, #622db9);
  display: flex;
  align-items: center;
  height: 55px;
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
}

.app {
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.dd-toggle > img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.dd-toggle:nth-of-type(4) {
  margin-left: auto;
}

header {
  padding: 0 20px;
  height: 57px;
}

.dd-toggle:last-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dd-toggle:last-child > img {
  margin-right: 10px;
}

.dd-toggle {
  margin-right: 10px;
  height: 100%;
  padding: 10px;
  outline: none;
  transition: all 0.4s;
  color: #eaeaea;
  animation: fade-in-from-top 0.5s;
  cursor: pointer;
}

header > img {
  margin-right: 10px;
  animation: fade-in-from-top 0.5s;
}

.dd-toggle:hover {
  background-color: rgb(255, 255, 255, 0.07);
}

.dd-toggle:focus {
  background-color: rgb(255, 255, 255, 0.07);
}

/* KEYFRAMES */
@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ---------------- */

.sidebar {
  background-color: #10171a;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---------------- */

.panel {
  background-color: #2b363c;
  width: 350px;
}

/* ---------------- */

.main {
  background-color: #edf1f3;
  flex: 1;
}

.app__container {
  height: calc(100vh - 55px);
  display: flex;
}

.menu__button {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(140, 148, 150);
  cursor: pointer;
  outline: none;
  position: relative;
  animation: fade-in-from-left 0.5s;
  transition: 0.5s;
}

.menu__button:hover {
  background-color: #2b363c;
  color: white;
}

.menu__button:focus {
  color: white;
  background-color: #2b363c;
}

.menu__icon {
  margin-bottom: 10px;
}

.menu__button--active::before {
  content: "";
  background-color: steelblue;
  height: 100%;
  width: 3px;
  top: 0;
  position: absolute;
  left: 0;
}

.footer {
  transform: rotate(-90deg);
  margin-bottom: 70px;
  font-weight: 500;
}

.copyright {
  color: #4c5960;
  white-space: nowrap;
}


